.env

/data/*

!data/README.md

!data/constitucion/
/data/constitucion/*
!data/constitucion/text
/data/constitucion/text/*
!data/constitucion/text/metadata.json

!data/codigo_penal/
/data/codigo_penal/*
!data/codigo_penal/text
/data/codigo_penal/text/*
!data/codigo_penal/text/metadata.json

!data/codigo_civil/
/data/codigo_civil/*
!data/codigo_civil/text
/data/codigo_civil/text/*
!data/codigo_civil/text/metadata.json

!data/codigo_comercio/
/data/codigo_comercio/*
!data/codigo_comercio/text
/data/codigo_comercio/text/*
!data/codigo_comercio/text/metadata.json

!data/codigo_general_del_proceso/
/data/codigo_general_del_proceso/*
!data/codigo_general_del_proceso/text
/data/codigo_general_del_proceso/text/*
!data/codigo_general_del_proceso/text/metadata.json

!data/codigo_sustantivo_trabajo/
/data/codigo_sustantivo_trabajo/*
!data/codigo_sustantivo_trabajo/text
/data/codigo_sustantivo_trabajo/text/*
!data/codigo_sustantivo_trabajo/text/metadata.json

!data/codigo_procedimental_laboral/
/data/codigo_procedimental_laboral/*
!data/codigo_procedimental_laboral/text
/data/codigo_procedimental_laboral/text/*
!data/codigo_procedimental_laboral/text/metadata.json